.bg-bar {
    background-color: #dc3545;
}

footer {
    background-color: #c42f3d;
}


#instants_container {
    margin: 30px auto 30px auto;
    text-align: center;
}

.instants {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 10px;
    justify-content: center;
}

#content {
    text-align: center;
    overflow: hidden;
    margin: 20px auto 140px;
    max-width: 970px;
    background-color: #fff;
}

@media only screen and (max-width: 770px) {
    #content {
        margin: 20px auto 100px;
    }
}

.instant {
    position:relative;
    vertical-align:top;
    width: 94px;
    text-align: center;
    word-wrap: break-word;
}

.small-button {
    width: 94px;
    height: 89px;
    position: absolute;
    background: url('/media/images/transparent_button_small_sprite.png') no-repeat;
    background-position: -5px -5px;
    border: 0;
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.small-button:focus {
    background: url('/media/images/transparent_button_small_sprite.png') no-repeat;
    background-position: -5px -5px;
}

.small-button:active {
    background: url('/media/images/transparent_button_small_sprite.png') no-repeat;
    background-position: -109px -5px;
}

.small-button-background {
    width: 86px;
    height: 84px;
    margin-top: 3px;
    margin-left: 3px;
    position: absolute;
}

.small-button-shadow {
    width: 94px;
    height: 89px;
    margin-bottom:5px;
    background: url('/media/images/transparent_button_small_shadow.png') no-repeat;
}

.circle {
	border-radius: 50%;
}

.large-button {
    width: 200px;
    height: 190px;
    position: absolute;
    background: url('images/transparent_button_small_sprite.png') no-repeat;
    background-position: -5px -5px;
    border: 0;
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.large-button:focus {
    background: url('images/transparent_button_small_sprite.png') no-repeat;
    background-position: -5px -5px;
}

.large-button:active {
    background: url('images/transparent_button_small_sprite.png') no-repeat ;
    background-position: -215px -5px;
}

.large-button-background {
    width: 188px;
    height: 174px;
    margin-top: 7px;
    margin-left: 6px;
    position: absolute;
}

.large-button-shadow {
    width: 200px;
    height: 190px;
    background: url('images/transparent_button_small_sprite.png') no-repeat;
}

#instant_image {
	max-width: 320px;
	max-height: 240px;
}

#recommendations {
    margin: 40px 0;
}

.page-footer li {
    margin: 20px 0;
    font-size: 14px;
}

.page-footer .container {
    max-width: 970px;
}

#breadcrumbs {
    margin: 20px 20px;
}

#breadcrumbs ol {
    padding:0;
}

#breadcrumbs li {
    display:inline;
    font-size: 14px;
}

#breadcrumbs a {
    text-decoration: underline;
}

.search-form img {
    position: absolute; padding: 6px 10px; z-index: 999;
}

@media only screen and (max-width: 600px) {
    .search-form input {
        width: 170px !important; 
    }
}

.instant-link {
    font-size: 14px;
    text-decoration: underline; 
    display: block;
    line-height: 1.4em;
    height: 2.8em;
    overflow: hidden;
}

.result-page-instant-sharebox {
    margin:5px 0 0 0;
}

.instant-action-button-icon {
    width: 25px;
    height: 25px;
    margin: 0px;
}

.instant-action-button {
    padding: 0;
    background: none;
    border: 0;
    margin: 0;
}

#install-app-desktop img {
    margin: 8px 10px 0px 0px;
}

#install-app-mobile img {
    margin: 14px 0px 0px 0px;
}

.share-icon {
    margin: 16px auto auto;
}

@media only screen and (max-width: 600px) {
    #toast-container {
        min-width: 90%;
        bottom: 15%;
        left: 5%;
    }
}

.text-right {
    text-align: right;
}

.desktop-banner-ad {
    width: 970px;
    height:90px;
    margin: 0px auto 0px;
    background-image: url('/media/images/ad-background.png');
    justify-content: center;
}

.desktop-larger-banner-ad {
    width: 970px;
    height:250px;
    margin: 0px auto 0px;
    background-image: url('/media/images/ad-background.png');
    justify-content: center;
}

.mobile-banner-ad {
    width: 320px;
    height: 100px;
    margin:0 auto 0px;
    background-image: url('/media/images/ad-background.png');
    justify-content: center;
}

#top-ad {
    text-align:center;
    margin:0px auto 20px auto;
}

.large-rectangle-ad {
    width: 320px;
    margin:0 auto 20px;
    height:250px;
    background-image: url('/media/images/ad-background.png');
}

#footer-copyright {
    padding-bottom:100px;
}

#results-pagination {
    margin: 40px auto 60px auto; 
    text-align: center;
    display:inline-block;
}

.embed {
    margin:0px !important;
}

#instant-form table {
    margin: 0 auto;
    text-align: left;
    font-size:16px;
    color: #777;
}

#likes {
    text-align:center;
    margin:20px;
}

#user-profile-title {
    margin: 0px 0 25px 0;
    font-size: 50px;
    font-weight:bold;
}

.user-profile-empty {
    margin-bottom: 100px;
    font-size: 12px;
}

#user-profile-menu {
    margin-bottom: 40px;
}

#user-profile-menu li {
    display: inline;
}

#instant-page-title {
    margin: 0px 20px 25px;
    font-size: 50px;
    font-weight:bold;
}

#instant-page-button {
    width: 190px;
    margin: 0 auto 25px auto;
}

#instant-page-description {
    margin: 20px 0;
}

#instant-page-tags {
    margin: 20px 0;
}

#instant-page-likes {
    text-align:center;
    margin:15px;
}

#instant-page-extra-buttons-container {
    margin:20px 0 20px;
}

.instant-page-extra-button {
    margin:10px;
    width:300px;
}

.instant-page-extra-button-icon {
    vertical-align: text-top; 
    margin: 0px 5px;
}

#instant-embed {
    margin:10px 0 20px;
    width:300px;
    height: 65px;
}

.instants-container-title {
    margin: 50px 0 30px;
}

@media only screen and (max-width: 600px) {
    .instants-container-title {
        margin: 30px 0 30px;
    }
}

.nav-icon-left {
    vertical-align: middle; 
    margin: 0 5px 5px 0;
}

.nav-icon-right {
    vertical-align: middle; 
    margin: 0 -15px 5px 0;
}

#nav-login {
    max-width: 164px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.loader {
    display: none;
    position: absolute;
    top: -2px;
    left: -1px;
    border: 5px solid transparent;
    border-top: 5px solid #747474;
    border-radius: 50%;
    width: 94px;
    height: 94px;
    animation: spin 2s linear infinite;
}

.loader-large {
    display: none;
    position: absolute;
    border: 8px solid transparent;
    border-top: 8px solid #747474;
    border-radius: 50%;
    width: 190px;
    height: 190px;
    margin: -1px 0 0 4px;
    animation: spin 2s linear infinite;
}

#loading {
    border: 5px solid transparent;
    border-top: 5px solid #747474;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 0 auto 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (max-width:480px){
    #login-dropdown .dropdown-menu{
        display: block;
        position: static;
        border:0 none;
        box-shadow:none;
        margin-top:0;
        margin-bottom: 20px;
        position:static;
        width:100%;
    }
}